body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.main {
    margin-left: 20px; /* Space for a potential open button */
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 100px;
    text-align: center;
    color: white;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
}

.card {
    background: white;
    border: 3px solid #333;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 6px;
    border-top: 3px solid #333;
}

.card h2 {
    font-size: 16px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #555;
}

@media (max-width: 600px) {
    .content {
        padding: 10px;
        font-size: 15px;
    }

    h1 {
        font-size: 50px;
    }

    #caption {
        font-size: 70px;
    }

    .content h2 {
        font-size: 50px;
    }

    .topnav a {
        font-size: 15px;
    }

    .open-btn {
        font-size: 15px;
    }
}

.progress-bar-container {
    position: relative;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
    float: left;
}

.content {
    padding: 20px;
    font-size: 30px;
}

.content h2 {
    color: #333;
    font-size: 70px;
}

.content p, .content ul {
    line-height: 1.6;
}

button {
    background-color: white;
    cursor: pointer;
    border: 2px solid #333;
}

span {
    font-size: 50px;
}

.checkboxes-important {
    display: flex;
    margin: 20px;
}